@media (max-width: 1200px) {
    .eleetcontroller-header-nav{
        position: absolute;
        top: -42px;
        left: 0;
        display: block;
        z-index: 999999;
        background: #333;
        width: 21rem;
        height: 100vh;

        transform: translateX(-20rem);
        visibility: hidden;
        opacity: 0;
    }
    .eleetcontroller-header-nav li{
        display: block;
        padding: 15px 0;
        border-bottom: 1px solid #ffffff7a;
    }
    .eleetcontroller-header-nav li a:after{
        position: absolute;
        content: "+";
        top: 0;
        right: 0;
        font-size: 1rem ;
    }
    .eleetcontroller-header-nav span{
        display: block;
        font-size: 2rem;
        padding: 1rem;
    }
    .eleetcontroller-header-nav-support-show{
        visibility: visible;
        opacity: 1;
    }

    .eleetcontroller-list-cart li:first-child{
        display: none;
    }

    .eleetcontroller-header-popup{
        position: inherit ;
        visibility: visible;
        opacity: 1;
    }
    .eleetcontroller-header-popup ul{
        border-bottom: 0;
    }
    .eleetcontroller-header-popup ul li{
        margin: 0;
        background-color: #333333;
        border: none;
        padding: 0.5rem 0;
    }
    .eleetcontroller-header-popup ul li a p{
        color: rgba(255, 255, 255, 0.5) ;
        text-align: left;
    }
    .eleetcontroller-header-popup img{
        display: none;
    }

    .eleetcontroller-header-nav li:last-child{
        border: none;
    }
    .eleetcontroller-nav-toggle{
        display: inline-block;
    }

    .eleetcontroller-header-nav li:hover a::after{
        display: none;
    }

    .eleetcontroller-logo{
        width: 56%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .eleetcontroller-list-cart{
        width:44%;
    }

    .eleetcontroller-topbtn {
        background: linear-gradient(95deg, rgb(255, 167, 129), rgb(196, 50, 86)) !important;
        padding: 2px;
    }

    .eleetcontroller-show-nav{
        height: 100vh;
        overflow: hidden;
        transition: all 0.3s ease;

        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }

    .eleetcontroller-header-nav li.active a:after{
        display: none;
    }

   
}


@media (max-width: 992px) {

}

@media (max-width: 768px) {
    
    .eleetcontroller-header-nav{
        top: -60px;
    }
    .eleetcontroller-header-nav span{
        margin-top: 2rem;
    }
}

@media (max-width: 578px) {
    .eleetcontroller-logo{
        width: 60%;
    }
    .eleetcontroller-list-cart{
        width:40%;
    }
   

    .eleetcontroller-list-cart li:nth-child(2){
        display: none;
    }

    /* .eleetcontroller-header-nav{
        top: -42px;
        margin-top:0px;
    } */
}

@media (max-width: 480px) {

}

@media (max-width: 400px) {

}

@media (max-width: 320px) {

}